h2 Please register

div(id="video-accept-request", ng-hide="stream") Please accept the browser's request to use your camera.
video(ng-hide="!stream", attach-stream="stream", autoplay)
input(type="text", class="name", ng-model="user.name", placeholder="Your name")
button(ng-click="register()", ng-disabled="!stream || !user.name") Register