h2 Users
div(ng-repeat="user in usersService.users", class="user")
  h3 {{user.name}}
  h4(class="user-id") ({{user.id}})

  video(attach-stream="user.stream", autoplay) 
  a(href="",ng-hide="user.stream", ng-click="connect(user.id)") connect