h2 Users
div(ng-repeat="user in users.list", class="user")
  h3(class="user-name") {{user.name}}
  h4(class="user-id") ({{user.id}})

  video(attach-stream="user.stream", autoplay) 
  a(class="connect", href="",ng-hide="user.stream", ng-click="connect(user.id)") connect