extends layout

block body
  div(ng-controller='AppCtrl')
    h1 Video chat

    div(ng-view)

  script(src='js/lib/adapter.js')
  script(src='js/lib/angular/angular.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/PeerConnection.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
